.banner_img {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; /* 이미지가 컨테이너를 넘지 않도록 */
  background-color: white;
}

@media (max-width: 768px) {
  .banner_img {
    aspect-ratio: 3/2; /* 세로를 2배로 */
  }
}

@media (min-width: 769px) {
  .banner_img {
    // aspect-ratio: 3/1.5; /* 세로를 50% 더 키움 */
    aspect-ratio: 4/2; /* 세로를 50% 더 키움 */
  }
}

.banner_name {
  position: absolute;
  right: 1rem;
  bottom: 1rem;

  padding: 1rem;
  background: #e5982c;
  color: #fff;
  border-radius: 8px;
}

/* 작은 화면용 스타일 */
@media (max-width: 768px) {
  .banner_name {
    right: 0.5rem;
    bottom: 0.5rem;
    padding: 0.5rem;
    font-size: 0.875rem;
  }
}
