.header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(237, 228, 235);
  min-height: 35px;
  padding: 12px 24px;
  color: #464344;
  font-weight: bold;
  font-size: 25px;
  position: sticky;
  top: 88px;
  z-index: 12;
}

.icons {
  position: absolute;
  right: 1rem;
}
