.menu {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1rem 0;
  position: sticky;
  top: 84px;
  z-index: 12;
  cursor: pointer;
}

.li {
  width: 88px;
  text-align: center;
  border-bottom: 1px solid #eee;
  padding: 1rem;
  transition: border-color 0.3s ease;
}

.li:focus {
  border-bottom: 2px solid black;
}

.li.active {
  border-bottom: 2px solid #000;
  font-weight: 600;
}
