.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 34px; 
    height: 60px;
}

.header_sub {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
    height: 60px;
}


.display_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    margin-left: 20px;
    margin-right: 20px;
    white-space: pre-wrap;
}